/*
  Adapted from Josh Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  /* colors */
  --color-almost-black: #181A1C;
  --color-light-grey: #c0c0c0;
  --color-black-coral: #696d7d;
  --color-opal: #9cb9b9;
  --color-peachy: #e2b0a4;
  
  /* misc */
  --color-silver-sand: #c4cbca;
  --color-almost-white: #f8f9fa;
}

/* base styles */
html {
  --text-color: #c0c0c0; 
  --bg-color: #181A1C; 
  /* --text-color: #181A1C;  */
  /* --bg-color: #c4cbca; */
  --heading-color: #696d7d;
  --primary-color: #96bbbb;
  --highlight-color: #ea9e8d;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Allow percentage-based heights in the application */
html, body {
  height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color)
}

/* Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
  /* line-height: 1.5; */
  /* padding: 1rem; */
  font-family: Menlo, monospace;
  font-size: 14px;
  background-color: var(--bg-color)
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  /* color: var(--text-color); */
  color: inherit;
}

form {
  display: flex;
  flex-direction: column;
}

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* forms */
/* Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

label {
  /* display: block;
  margin top & bottom
  margin: 24px auto; */
}

label, span {
/* display: block; 
margin-bottom: 6px; */
}

input, textarea {
/* padding: 8px 6px;
font-size: 1em;
color: var(--color-silver-sand);
width: 100%;
box-sizing: border-box;
border: 1px solid #ddd;
border-radius: 4px; */
}

textarea {
/* min-height: 160px; */
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: 14px;
  color: var(--text-color);
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}

/* buttons */
.btn {
  /* background: var(--color-peachy); */
  background: var(--color-opal);
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--color-almost-black);
  cursor: pointer;
  border: 1px solid var(--color-black-coral);
}
.btn:hover {
  text-decoration: line-through;
}

.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

.nav-link {
  font-weight: bold;
}
.nav-link:hover {
  text-decoration: line-through;
}

/* misc */
.heading-stroke {
  margin: auto;
  padding-bottom: 15px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: 2px;
  color: var(--text-color);
  -webkit-text-fill-color: var(--bg-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
}

/* Create a root stacking context */
#root, #__next {
  isolation: isolate;
} 










