.artist-profile {
    /* border: 2px solid red; */
    width: 80vw;
    max-width: 1100px;
    margin: auto;
}

.artist-profile .menu-bar{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 40px;
    font-weight: bold;
    color: var(--color-almost-black);
    background-color: var(--color-opal);
    margin-bottom: 40px;
    /* width: 100vw; */
}

.artist-profile .cols {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}