.sidebar-content {
    /* border: 1px solid pink; */
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar .profile-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sidebar .artist-name {
    font-weight: bold;
    margin-top: 20px;
}